<form method="post">

  <div id="container">
    <div id="title">
      サンプルフォーム
    </div>

    <div id="msg">
      以下のフォームに必要な項目を入力のうえ、送信をクリックしてください。
    </div>

    <div id="enqt">
      <table cellpadding="0" cellspacing="0">
        <tr>
          <td>
            <table cellpadding="0" cellspacing="0" class="tbl">
              <tr>
                <td>
                  <table cellpadding="0" cellspacing="0">
                    <tr>
                      <td class="q-txt">
                        <span class="q-num">&nbsp;&nbsp;</span>PCメールアドレス</td>
                    </tr>
                  </table>

                  <table cellpadding="0" cellspacing="0">
                    <tr>
                      <td class="a-txt">
                        <input type="text" name="email" size="50" style="ime-mode:disabled" value="" />
                        <div class="ex-txt"></div>
                      </td>
                    </tr>
                  </table>

                  <table cellpadding="0" cellspacing="0">
                    <tr>
                      <td class="a-txt">
                        <textarea name="texttest"></textarea>
                      </td>
                    </tr>
                  </table>

                  <table cellpadding="0" cellspacing="0">
                    <tr>
                      <td class="a-txt">
                        <input type="password" name="test_password" size="50" />
                        <div class="ex-txt"></div>
                      </td>
                    </tr>
                  </table>

                  <table cellpadding="0" cellspacing="0">
                    <tr>
                      <td class="a-txt">
                        <input type="radio" name="q1" value="はい"> はい
                        <input type="radio" name="q1" value="いいえ"> いいえ
                      </td>
                    </tr>
                  </table>

                  <table cellpadding="0" cellspacing="0">
                    <tr>
                      <td class="a-txt">
                        <input type="checkbox" name="kamoku" value="国語">国語
                        <input type="checkbox" name="kamoku" value="英語">英語
                        <input type="checkbox" name="kamoku" value="算数">算数
                        <input type="checkbox" name="kamoku" value="理科">理科
                        <input type="checkbox" name="kamoku" value="社会">社会
                        <input type="checkbox" name="kamoku" value="体育">体育
                      </td>
                    </tr>
                  </table>

                  <table cellpadding="0" cellspacing="0">
                    <tr>
                      <td class="a-txt">
                        <select name="example">
                          <option value="サンプル1">サンプル1</option>
                          <option value="サンプル2">サンプル2</option>
                          <option value="サンプル3">サンプル3</option>
                        </select>
                      </td>
                    </tr>
                  </table>

                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>

    <div id="submit">
      <input type="submit" value="送信">
    </div>
  </div>

</form>