<% const title = 'Sample Using Preset Modal.' %>
<% const individualContent = ` 
  <div id="form-input-recover-confirm-modal"></div>
`; %>
<% const individualScript = `
// 第二引数ありの場合はモーダルでの確認が発生
FormInputRecover.executeInputRecover(
  {
    expiredHour: 1
  },
  {
    elementId: 'form-input-recover-confirm-modal',
  }
);
`; %>
<%- include('./layout.ejs', { title, individualContent , individualScript } ); %>
