<% const title = 'Sample Using API.' %>
<% const individualContent = `
  <button >復元</button><button >削除</button>
`; %>
<% const individualScript = `
var instance = FormInputRecover.createInstance({});
`; %>
<%- include('./layout.ejs', { title, individualContent , individualScript } ); %>
